
body {
    font-size: 100%;
    max-width: 100%;
    }

#side-a {
    width: 20%;
}

/*#container {
  display: block;
  vertical-align: -25px;
}*/

/*#container, #content {
  display: block;
  vertical-align: -25px;

}*/

#content {
    width: 75%;
}
.sidebar {background: red;}
.flowers {font-size:2em;
          color: white;
          min-height:50%;
          background: url('images/flower-big.jpg');
          background-repeat:no-repeat;}


@media  (max-width: 800px ){
.sidebar{display:none;}
.flowers{background: url('images/flower-small.jpg');
         background-repeat:no-repeat;}
}


